* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #FFF;
}

.main-container {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: block;
    float: left;
    width: 98%;
    max-width: 98%;
    padding: 20px 60px;
    margin: 0 auto;
}

header {
    display: block;
    float: left;
    width: 100%;
    background-color: #FFF;
    border-bottom: 1px solid #254159;
}

h1 {
    font-size: 2.4rem;
    color: #254159;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #254159;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.8rem;
    color: #254159;
    margin-bottom: 20px;
}

h4 {
    font-size: 1.6rem;
    color: #254159;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p {
    margin-bottom: 15px;
    line-height: 1.2;
}

img {
    max-width: 100%;
    height: auto;
}

ol {
    padding-left: 30px;
}

ol li {
    font-size: 1.4rem;
    color: #454545;
    padding-bottom: 10px;
}

section {
    display: block;
    float: left;
    width: 100%;
    font-size: 1.5rem; /* equivalente a 15px */
    padding: 20px 0;
}

section nav {
    display: block;
    float: left;
    width: 20%;
}

nav li {
    background-color: #fff;
    margin: 3px 20px 3px 0;
    padding: 10px;
    margin-left: 20px;
    border-radius: 5px 5px 5px 5px;
}

nav li:hover {
    background-color: #cfdde9;
}

nav a {
    text-decoration: none;
    color: #254159;
}

nav a:hover {
    color: #385874;
}

section article {
    display: block;
    float: left;
    width: 80%;
}

footer {
    display: block;
    font-size: 1.2rem;
    float: left;
    width: 100%;
    background-color: #254159;
}

footer p {
    color: #ffffff;
    margin-bottom: 0px;
}

footer small {
    font-size: 80%;
    display: block;
}

.cognito {
    height: 400px !important;
    overflow: hidden !important;
    float: center;
}

#tenho-interesse {
    background-color: #ffffff;
    width: 100%;
    max-width: 1198px;
}

#tenho-interesse form, .cog-form__container, :root:root:root:root:root .cog-form__container {
    background-color: #ffffff !important;
}

#tenho-interesse html .cog-label, :root:root:root:root:root .cog-label, html .cog-cognito--styled .cog-header h1, :root:root:root:root:root .cog-cognito--styled .cog-header h1 {
    color: #254159 !important;
}

@media (max-width: 600px) {
    section nav,
    section article, nav li {
        width: 100%;
        margin-left: 5px;
        margin-right: 10px;
    }
}

#banner {
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vw;
}

.legenda-container {
    width: 30vw;
    float: right;
    margin: 10vw 10vw 0 0;
}

.legenda {
    background-color: rgb(240, 240, 240, .6);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 5rem;
}

.legenda h5,
.legenda h4 {
    color: #254159;
    line-height: 1.5;
}

.button-cta {
    border-radius: 25px;
    display: inline;
    background-color: orangered;
    color: #fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    box-shadow: 1px 1px 4px #454545;
    padding: 10px 15px;
    width: auto;
    text-decoration: none;
    font-weight: 300;
    float: left;
    margin-left: 25px;
}

#saiba-mais {
    background: #f0f0f0;
}

#saiba-mais p,
#saiba-mais img{
    width: 50%;
    display: block;
    float: left;
    padding: 20px;
    line-height: 1.5;
}

#saiba-mais p {
    margin-top: 20px;
}

#duvidas-frequentes {
    background: #9cb3c7;
    line-height: 1.5;
}

dl {
    margin: 20px 0;
}

dt {
    font-weight: 700;
    font-size: 1.8rem;
    color: #254159;
}

dd {
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 1.6rem;
}

@media (max-width: 600px) {
    #saiba-mais p,
    #saiba-mais img{
        width: 100%;
    }
    .legenda-container {
        width: 100%;
    }
}